/* Diego no puedo creer que hice esto me encanto esta parte del curso */

.container {
	min-height: 100vh;

	display: grid;
	grid-template-areas:
		"header"
		"filter"
		"main"
		"footer";
	grid-template-columns: 1fr;
}

.header {
	background-color: var(--p-main-color);
	min-height: 5em;
	padding: 0 3em;

	grid-area: header;

	align-items: center;
	display: flex;
	justify-content: space-between;
}

.header__div {
	cursor: pointer;

	align-items: center;
	display: flex;
	gap: 0.5em;
}

.header__i {
	color: var(--white-color);
	text-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.header__h1 {
	color: var(--white-color);
	font-family: var(--typography-titles);
	font-size: 1.5rem;
	text-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
	text-transform: capitalize;
}

.header__aside {
	display: none;
}

.header__a {
}

.menu {
}

.menu__i {
	color: var(--white-color);
	cursor: pointer;
	font-size: 2rem;
}

.filter {
	background-color: var(--light-color);
	min-height: 5em;
	padding: 0.4em;

	grid-area: filter;

	align-items: center;
	display: flex;
	justify-content: center;
}

.filter__div {
	padding: 0.7em 0;

	align-items: center;
	display: flex;
	flex-direction: column;
}

.filter__p {
	font-size: 1.4rem;
	padding-bottom: 0.7em;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	text-transform: capitalize;
}

.filter__select {
	background-color: var(--white-color);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	font-size: 1.3rem;
	outline: none;
	padding: 1em;
	text-transform: capitalize;
	width: 20em;
}

.filter__option {
}

.icon {
	cursor: pointer;
	position: relative;
}

.icon__span {
	font-size: 1.5rem;
	position: absolute;
	right: 1em;
	top: 0.8em;
}

.main {
	grid-area: main;

	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cards {
}

.card {
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
	margin: 2em 0;

	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card__figure {
	height: 100%;
	width: 100%;

	align-items: center;
	display: flex;
	flex-direction: column;
}

.card__img {
	height: 15em;
	object-fit: cover;
	width: 23em;
}

.card__figcaption {
	font-size: 1.5rem;
	text-transform: capitalize;
}

.card__div {
	padding-top: 0.3em;
	padding-bottom: 1.3em;
}

.card__button {
	background-color: var(--p-main-color);
	border-radius: 7px;
	color: var(--white-color);
	cursor: pointer;
	font-size: 1.4rem;
	padding: 1em 1.5em;
	transition: background-color 0.3s ease-in-out;
}

.card__button:hover {
	background-color: var(--p-light-color);
}

.pages {
	padding-bottom: 2em;
	width: 100%;

	align-items: center;
	display: flex;
	justify-content: center;
}

.pages__span {
	border: 1px solid var(--light-color);
	color: var(--p-light-color);
	cursor: pointer;
	font-size: 1.1rem;
	padding: 1em;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.pages__span:hover {
	background-color: var(--p-light-color);
	color: var(--white-color);
}

.footer {
	background-color: var(--p-dark-color);
	min-height: 7em;

	grid-area: footer;

	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer__div {
	padding: 0.3em 0;

	align-items: center;
	display: flex;
	gap: 0.8em;
	justify-content: center;
}

.footer__i {
	color: var(--white-color);
	cursor: pointer;
	font-size: 2rem;
	text-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.footer__p {
	color: var(--white-color);
	font-size: 1.3rem;
	font-family: var(--typography-titles);
	text-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

@media (min-width: 576px) {
	.container {
		grid-template-areas:
			"header header"
			"filter main"
			"footer footer";
		grid-template-columns: 1fr 4fr;
	}

	.header {
		grid-area: header;
	}

	.header__div {
	}

	.header__i {
	}

	.header__h1 {
	}

	.header__aside {
		align-items: center;
		display: flex;
		gap: 0 2em;
	}

	.header__a {
		color: var(--white-color);
		font-size: 1.3rem;
		text-transform: capitalize;
		transition: text-shadow 0.3s ease-in-out;
	}

	.header__a:hover {
		text-shadow: 0 12px 15px rgba(0, 0, 0, 0.7);
	}

	.menu {
		display: none;
	}

	.menu__i {
	}

	.filter {
		grid-area: filter;

		align-items: start;
	}

	.filter__div {
	}

	.filter__p {
	}

	.filter__select {
		min-height: 4em;
		width: 12em;
	}

	.filter__option {
	}

	.filter__div {
	}

	.icon__span {
		right: 1em;
		top: 3.5em;
	}

	.main {
		grid-area: main;
	}

	.cards {
		grid-area: cards;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.card__figure {
	}

	.card__img {
	}

	.card__figcaption {
	}

	.card__div {
	}

	.card__button {
	}

	.pages {
		grid-area: pages;
	}

	.pages__span {
	}

	.footer {
		grid-area: footer;
	}

	.footer__div {
	}

	.footer__i {
	}

	.footer__p {
	}
}

@media (min-width: 992px) {
	.container {
		grid-template-areas:
			"header filter"
			"header main"
			"header main"
			"footer main";
		grid-template-columns: 1fr 6fr;
		grid-template-rows: auto auto 2fr 0.3fr;
		/* Diego tengo un problema en ese 0.3fr si saco el 
		grid-template-rows se ve mal. */
	}

	.header {
		grid-area: header;

		flex-direction: column;
		justify-content: start;
	}

	.header__div {
		padding: 2em 0;

		gap: 1em;
	}

	.header__i {
	}

	.header__h1 {
	}

	.header__aside {
		width: 13em;

		gap: 3em 0;
		flex-direction: column;
	}

	.header__a {
		font-size: 1.5rem;
		padding: 0.5em 0;
	}

	.menu {
		display: none;
	}

	.menu__i {
	}

	.filter {
		grid-area: filter;
	}

	.filter__div {
	}

	.filter__p {
	}

	.filter__select {
		width: 75vw;
	}

	.filter__option {
	}

	.icon__span {
		right: 1em;
		top: 3.5em;
	}

	.main {
		grid-area: main;

		display: grid;
		grid-template-areas:
			"cards"
			"pages";
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
	}

	.cards {
		min-height: 100%;

		grid-area: cards;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}

	.card {
	}

	.card__figure {
	}

	.card__img {
	}

	.card__figcaption {
	}

	.card__div {
	}

	.card__button {
	}

	.pages {
		grid-area: pages;
	}

	.pages__span {
	}

	.footer {
		grid-area: footer;
	}

	.footer__div {
	}

	.footer__i {
	}

	.footer__p {
		text-align: center;
	}
}
