body {
	background-color: #000;
}

/* Header Start */

.header {
	width: 100%;
}

.header__h1 {
	color: #fff;
	font-size: 4rem;
	font-weight: 600;
	padding: 0.4em;
	text-transform: uppercase;
	text-align: center;
}

.header__img {
	width: 100%;
}

/* Header End */

/* Main Start */

.main {
	width: 100%;
}

/* About */

.about {
	align-items: center;
	background-color: #000;
	display: flex;
	margin: 0 auto;
	max-width: 70%;
	padding: 3em;
	width: 100%;
}

.about__div {
	padding: 2em 5em;
	width: 100%;
}

.about__div--img {
	height: 100%;
	width: 100%;
}

.about__p {
	font-size: 1.1rem;
	padding: 0.6em;
}

.about__img {
	float: right;
	object-fit: cover;
	width: 90em;
}

/* Characteristics */

.chars {
	align-items: center;
	background-color: #303030;
	display: flex;
	flex-direction: column;
}

.chars__h2 {
	font-size: 4rem;
	font-weight: 400;
	padding: 1em 0;
	text-transform: uppercase;
}

.chars__ul {
	display: flex;
}

.chars__li {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 4em 7em;
}

.chars__i {
	font-size: 8rem;
}

.chars__span {
	font-size: 1.3rem;
}

/* Gallery */

.gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 3em;
	justify-content: center;
	padding: 3em;
}

.gallery__img {
	background-color: darkgoldenrod;
	height: 24em;
	object-fit: cover;
	width: 26em;
}

/* Main End */

/* Footer Start */

.footer {
	background-color: #505050;
	padding: 2em;
}

.footer__p {
	text-align: center;
}

.footer__a {
	font-size: 1.2rem;
}

.footer__a:hover {
	color: #409837;
}

/* Footer End */

@media (width > 600px) and (width < 1000px) {
	.about {
		flex-direction: column;
		max-width: 100%;
	}

	.about__img {
		width: 100%;
	}

	.chars__ul {
		flex-direction: column;
	}

	.footer__p {
		font-size: 1.5rem;
	}
}
